<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <% if Rails.env.development? %>
        <%= debug(params: params,
                  method: request.method,
                  fullpath: request.fullpath,
                  uuid: request.uuid,
                  query_parameters: request.query_parameters,
                  content_length: request.content_length,
                  media_type: request.media_type,
                  authorization: request.authorization,
                  original_url: request.original_url,
                  request_parameters: request.request_parameters) %>
      <% end %>
    </div>
  </body>
</html>
